@charset "utf-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img{ margin:0; padding:0; }
img{display: block;border:0;}
li{ list-style:none;}
a{text-decoration:none;}

.clear:after{content:".";height:0;clear:both;overflow:hidden;display:block;visibility:hidden;}